

.main-container{
    display: flex;
   .sidebar{
         width: 250px;
         min-width: 250px;
         min-height: calc(110vh - 90px);
         background-color: rgba($color: #2f4f4f, $alpha: 1.0);
         color: #fff;
                  @media only screen and (max-width : 1300px){
                width: 200px;
                min-width: 200px;
         }
         border-top: 1px solid white;
         
         position: fixed;
       }
    .main{
       padding: 30px;
       margin-right: 30px;
    }
 
 }